<ons-page id="user-auth.html" class="user-auth">
  
   <ons-toolbar>
        
    <div class="center" data-bind="lang.exclusiveAccess"></div>
    
    <div class="right">
      <group row emit="switchLang">
        <ons-icon icon="fa-language"></ons-icon>
        <span data-bind="currentLanguage"></span>
      </group>
    </div>
        
  </ons-toolbar>
    
   
  <form breathes>
    
    <group row class="head">
      <img src="logo.png" />
      <span data-bind="lang.loginNetwork"></span>
    </group>
    
    <div spinnar breathes grows>
      <ons-progress-circular indeterminate></ons-progress-circular>
    </div>
    
    <div interactive>
    
      <p>
        <ons-input
          bind-placeholder="lang.email" 
          type="email"
          value="tour@festaria.firebaseapp.com"
        ></ons-input>
      </p>
      
      <p>
        <ons-input
          bind-placeholder="lang.password"
          type="password"
          value="123456"
        ></ons-input>
      </p>
      
      <group row>
        
        <button
          class='button'
          type="button"
          emit="userNew"
          data-bind="lang.newAccount"
        ></button>
        
        <button
          class='button'
          type="submit"
          data-bind="lang.logIn"
        ></button>
        
      </group>
      
    </div>
    
  </form>
  
  <div breathes>
    
    <small>
      <span data-bind="lang.disclaimer"></span>
      <a href="tos.html" data-bind="lang.tos"></a> & 
      <a href="privacy.html" data-bind="lang.pp"></a>
    </small>
    
    <ons-button modifier="large" emit="support">
      <ons-icon icon="fa-question-circle"></ons-icon>
      <span data-bind="lang.needHelp"></span>
    </ons-button>
    
  </div>
  
</ons-page>

    
