#map
{
  height: 80%;
}

@media only screen and (min-width: 900px)
{

  body
  {
    background: url("../bg.jpg") center no-repeat #313131;
    background-size: cover;
  }

  #shell
  {
    width: 350px;
    height: calc( 100vh - 128px );
    
    position: relative;
    margin-top: 64px;
    margin-left: auto; 
    margin-right: auto;
    
    border-radius: 6px;
    box-shadow: 0px 0px 12px 4px #1e0051
  }
}



#sidemenu ons-list,
#sidemenu .page__background
{
  background-color: #1A1A1A;
}

#sidemenu ons-list{ margin-bottom: 16px }
#sidemenu ons-list-header{ background-color: rgba(38, 36, 36, 0.6); }

#vendorAvatar
{
  width: 280px;
  height: 280px;
  object-fit: cover;
}

#displayName{ margin-bottom: 6px; }

ons-button[emit="logOut"]
{
  background-color: #2a2a2a;
  font-size: 0.7em;
  padding: 1px 12px;
}

ons-page[hero] .page__background
{
  background-image: url( ../loading.jpg );
  background-size: cover;
  background-position: center;
}

ons-page[hero] .page__content
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.page__background{ background-color: #211e1b; }


[loading] .page__background
{
  background-image: url( ../loading.jpg );
  background-size: cover;
  background-position: center;
}


[spinnar]
{
  flex-direction: column;
  align-items: center;
  justify-content: center;  
}

.flex-center{ justify-content: center; }

ons-list-item .left
{
  align-items: baseline;
}

form ons-list-item .left ons-icon
{
  margin-top: 12px;
}

video
{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

textarea
{
  background: transparent;
  color: white;
  width: 100%;
  border: none;
  font-size: inherit;
}

festaria-card
{
  display: block;
  margin: 14px;
  padding-bottom: 32px;
  background: #0006;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0px 2px 1px #000000b0;
}

festaria-display-name
{
  display: block;
  font-size: 1.4em;
  margin: 24px;
  letter-spacing: -1px;
  color: aqua;
}

festaria-bio
{
  display: block;
  margin-top: 8px;
  box-sizing: border-box;
  font-family: monospace;
  font-size: 12px;
  color: white;
}

#bannerWrapper
{
  position: relative;
  min-height: 300px;
  background-image: url( ../spinner.gif );
  background-position: center;
  background-repeat: no-repeat;
}

#bannerVideoBtn
{
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  
  display: flex;
  align-items: center;
  justify-content: center;
  
  border: 0;
  background: #00000057;
  width: 100%;
  color: white;
  
  font-size: 48px;
  text-shadow: 0px 0px 6px black;
  
  opacity: 0.8;
  
}
#bannerVideoBtn:hover
{
  cursor: pointer;
  opacity: 1;
}

#bannerVideoBtn p
{
  font-size: 16px;
  text-transform: uppercase;
  background: white;
  color: black;
  border-radius: 20px;
  padding: 8px 16px 6px;
  text-shadow: 0px 0px 0;
  box-shadow: 0px 0px 6px black;
}

#bannerVideoBtn ons-icon{ margin-right: 6px; }

pre
{
  margin-top: 32px;
  white-space: pre-wrap; word-break: keep-all;
}

#propaganda
{
  display: block;
  width: 100%;
  margin-top: 32px;
}

#propaganda:not([src]){ display: none; }

#tickets{ margin-bottom: 8px; }

#website.button
{
  background: white; 
  color: black;
  margin-top: 8px;
}

.button
{
  background-color: rgba(0, 120, 255, 0.5);
}

#emptyList
{
  display: none;
  text-align: center;
  font-size: 1.3em;
  color: gray;
}

[emptyList] #emptyList{ display: block; }

label
{ 
  font-size: 0.8em; 
  margin-bottom: 6px; 
  display: block;
  width: 100%;
}

.center p
{
  margin-top: 0px;
  margin-bottom: 6px;
}

#map
{
  background-image: url(../spinner.gif);
  background-position: center;
  background-repeat: no-repeat;
}




#cakeday
{
  display: none;
  padding: 16px;
  background: #0081FF;
}
#cakeday ons-icon{ font-size: 2em; margin-right: 16px; }
#cakeday p{ font-size: 0.9em; margin:0px; }
[cakeday] #cakeday{ display: flex; }






#camarotesList{ width: 100% }

.card--material,
ons-card{ background-color: #2B2B2B; }

#datesList .left
{
  font-family: monospace;
  text-transform: uppercase;
  margin-right: 16px;
}


.list-profiles .left
{
  width: 64px;
  margin-right: 16px;
  flex-shrink: 0;
}

.list-profiles .center
{
  flex-direction: column;
  align-items: flex-start;
}

.profile-pic
{
  width: 64px;
  height: 64px;
  border-radius: 6px;
  object-fit: cover;
}


.relative-container
{
  position: relative;
}

.playsVideo::after
{
  content: " ";
  display: block;
  width: 16px;
  height: 16px;
  position: absolute;
  bottom: 8px;
  right: 8px;
  background-image: url(../play-tiny.png);
  background-color: transparent;
}

form .right
{
  flex-shrink: 0;
}


[new] { display: none; }
.new [new]{ display: flex; }


[confirm]
{
  background-color: #7e2727;
}

input[type="file"]{ width: 100%; }

[row] ons-button { margin-right: 8px; }
[row] ons-button:last-child
{ margin-right: 0px; }

.confirmed .center{ color: green; }

.button{ text-transform: uppercase; }

.user-auth form
{
  background: #252525;
}

.user-auth p
{
  margin: 24px 0px;
}

.user-auth ons-input
{
  width: 100%;
}

.user-auth input
{
  padding: 16px;
}

.user-auth button
{
  font-size: 14px;
  font-weight: bold;
  flex: 1;
}

.user-auth button[emit="userNew"],
.user-auth button[emit="userAuth"] { background: #313131; }

.user-auth button[type="submit"]
{
  margin-left: 16px;
}

.user-auth group.head
{
  margin-bottom: 32px;
  font-size: 22px;
  align-items: center;
}

.user-auth img
{
  width: 48px; 
  height: 48px;
  margin-right: 16px;
}

.user-auth small
{
  display: block;
  margin-bottom: 16px;
}

.support ons-icon
{
  margin-right: 16px;
}


[emit="switchLang"]
{
  align-items: center;
  margin-right: 16px;
  color: gray;
}

[emit="switchLang"] ons-icon
{
  margin-right: 8px;
}

[emit="switchLang"] span
{
  text-transform: uppercase;
  font-size: 0.8em;
  color: white;
}
