/* Vendor
 * Aqui vão os estilos particulares de cada casa
 * */
 
 body
 {
   background-position: center bottom;
 }

.toolbar,
.toolbar--material
{
  background-color: black;
}

festaria-display-name,
.center
{
  color: #d59107;
}


.list,
.list--material
{
  background-color: #181818;
}

address,
#about-festaria
{
  text-align: center;
  padding: 16px;
  font-style: initial;
}

#about-festaria .app-logo
{
  width: 100px;
  margin: 19px auto 16px;
  
}
