html
{
  overflow: hidden;
  
  --borderLight: 2px solid var(--light, #fff);
  --borderDark: 2px solid var(--dark, #000);
  --borderNeutral: 2px solid var(--neutral, #888);
  --borderSurface: 2px solid var(--surface, #888);
  --borderAccent: 2px solid var(--accent, #0884FF);
}

body
{
  font-family: var(--contentFont, 'sans-serif');
  padding: 0px;
  margin: 0px;
  font-size: 18px;
  overflow: hidden;
}


[grows]{ flex-grow: 1; }

[breathes],
.breathes
{
  padding: 32px;
}

[bleed],
.bleed
{
  padding: var(--space2,  16px);
  margin: var(--space-2,  -16px);
  margin-bottom: var(--space0,  0px);
}

[desktop]{ display: none; }

[logged]{ display: none; }
[for-admin]{ display: none; }

[scrolls]{ overflow: auto; }

[column][reverse],
[reverse]
{
  flex-direction: column-reverse;
}

[column][reverse] button
{
  margin-bottom: 4px;
}

.user-online [logged]{ display:block; }
.user-online [no-user]{ display:none; }
[is-admin] [for-admin]{ display: block; }

img[responsive]
{
  width: 100%;
}

group
{
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
}



[row]{ flex-direction: row; }

[row] label
{
  width: 25%;
  text-align: right;
  margin-right: 24px;
  justify-content: flex-end;
}

img.avatar
{ 
  display: block;
  width: 128px;
  height: 128px;
  border-radius: 64px;
  flex-grow: 0;
  flex-shrink: 0;
}

@media( min-width: 800px )
{
  
  
  
  group
  {
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
  }
  
  [column]{ flex-direction: column; }
   
  [desktop]{ display: block; }
  [mobile]{ display: none; }
  
  
}

[column]{ flex-direction: column; }

en,es,pt{ display: none; }

[lang=en] en,
[lang=es] es,
[lang=pt] pt
{ display: block; }


[link]:hover{ cursor: pointer; }

[hidden],
.hidden{ display: none !important; }
