@keyframes spin
{
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

.i-spinner
{
  animation: spin 3s infinite linear;
  display: block;
}


[spinnar], [error], [success]{ display: none; }
[loading] [interactive]{ display: none; }
[loading] [spinnar]{ display: flex; }
[failed] [error]
{
  display: block;
  background: red;
  color: white;
  padding: 16px;
  margin-bottom: 32px;
  text-align: center;
}

[ok] [success]{ display: block; }

[failed] [error] strong
{
  display: block;
}
