  <ons-page  id="club-config.html">
    
    <ons-toolbar>
      
      <div class="left">          
        <ons-toolbar-button emit="toggleMenu">
          <ons-icon icon="fa-bars"></ons-icon>
        </ons-toolbar-button>
      </div>
        
      <div class="center" data-bind="lang.configurations"></div>
      
      <div class="right">
        <ons-back-button></ons-back-button>
      </div>
        
    </ons-toolbar>
      
    
      
   <div spinnar breathes grows>
    
    <ons-progress-circular indeterminate></ons-progress-circular>
    
    <p data-bind="lang.uploadingFiles"></p>
      
    <ons-progress-bar></ons-progress-bar>
    
    
  </div>
    
  <form interactive>
  
    <ons-list>
      
      <ons-list-title>Club Defaults</ons-list-title>
      
      <ons-list-item modifier="nodivider">
        <div class="left">
          <ons-icon fixed-width class="list-item__icon" icon="fa-font"></ons-icon>
        </div>
        <div class="center">
          
          <label data-bind="lang.name"></label>
          
          <ons-input 
            required grows
            data-bind="club.name"
            name="name" 
            modifier="transparent">
          </ons-input>
        </div>
        <div class='right'></div>
      </ons-list-item>
      
      
      <ons-list-item  modifier="nodivider">
      <div class="left">
          <ons-icon fixed-width class="list-item__icon" icon="fa-map-marker"></ons-icon>
        </div>
        <div class="center">
          
          <label data-bind="lang.address"></label>
          
          <ons-input 
            grows
            data-bind="club.address"
            name="address" 
            modifier="transparent"
          >
          </ons-input>
        </div>
        <div class='right'></div>
      </ons-list-item>
      
      
      
      <ons-list-item  modifier="nodivider">
      <div class="left">
          <ons-icon fixed-width class="list-item__icon" icon="fa-phone"></ons-icon>
        </div>
        <div class="center">
          
          <label data-bind="lang.phone"></label>
          
          <ons-input 
            grows
            data-bind="club.telefone"
            name="phone" 
            modifier="transparent"
          >
          </ons-input>
        </div>
        <div class='right'></div>
      </ons-list-item>
      
      <ons-list-item modifier="nodivider">
      <div class="left">
          <ons-icon
            fixed-width 
            class="list-item__icon"
            icon="fa-arrows-alt-h">
          </ons-icon>
        </div>
        <div class="center">
          
          <label data-bind="lang.lat"></label>
          
          <ons-input 
            grows
            data-bind="club.coords.lat"
            name="latitude" 
            modifier="transparent"
          >
          </ons-input>
        </div>
        <div class='right'></div>
      </ons-list-item>
      
      <ons-list-item modifier="nodivider">
      <div class="left">
          <ons-icon
            fixed-width 
            class="list-item__icon"
            icon="fa-arrows-alt-v">
          </ons-icon>
        </div>
        <div class="center">
          
          <label data-bind="lang.lng"></label>
          
          <ons-input 
            grows
            data-bind="club.coords.lng"
            name="longitude" 
            modifier="transparent"
          >
          </ons-input>
        </div>
        <div class='right'></div>
      </ons-list-item>
      
      
      <ons-list-item modifier="nodivider">
        <div class="left">
          <ons-icon
            fixed-width
            class="list-item__icon"
            icon="fa-birthday-cake"
          ></ons-icon>
        </div>
        <div class="center">
          
          <label data-bind="lang.happyBirthday"></label>
          <textarea name="cakeday" rows="4" data-bind="club.cakeday">
          </textarea>
          
          <small data-bind="lang.happyBirthDayHelp"></small>
          
        </div>
        <div class='right'></div>
      </ons-list-item>
      
      
      <ons-list-title>Reservations</ons-list-title>
      
      <ons-list-item>
        <div class="left">
          <ons-icon fixed-width class="list-item__icon" icon="fa-clock"></ons-icon>
        </div>
        <div class="center">
          
          <label data-bind="lang.reservationTimeLimit"></label>
          <ons-input name='time' type='time' data-bind="club.hora_limite"></ons-input>
          
        </div>
        <div class='right'></div>
      </ons-list-item>
      
      <ons-list-item>
        
        <div class="left">
          <ons-icon
            fixed-width
            class="list-item__icon"
            icon="fa-file-image"
          ></ons-icon>
        </div>
        
        <div class="center">
          
          <label data-bind="lang.vipMap"></label>
          
          <p>
            
            <input 
              type='file'
              id="vipMapInput" 
              accept="image/*"
              modifier="underbar" />
            
          </p>
          
          <small data-bind="lang.max2MB"></small>
          
        </div>
        <div class='right'></div>
      </ons-list-item>      
      
    </ons-list>
    
    <group row breathes>
      
      
      <div grows></div>
    
      <button class='button' type="submit"  modifier="cta">
        <ons-icon icon="fa-cloud-upload"></ons-icon>
        <span data-bind="lang.save"></span>
      </button>
    
    </group>
    
  </form>
      
  </ons-page>
