  <ons-page  id="date-edit.html">
    
    <ons-toolbar>
      
      <div class="left">          
        <ons-toolbar-button emit="toggleMenu">
          <ons-icon icon="fa-bars"></ons-icon>
        </ons-toolbar-button>
      </div>
        
      <div class="center" data-bind="lang.dateEdit"></div>
      
      <div class="right">
        <ons-back-button></ons-back-button>
      </div>
        
    </ons-toolbar>
      
    
      
   <div spinnar breathes grows>
    
    <ons-progress-circular indeterminate></ons-progress-circular>
    
    <p data-bind="lang.uploadingFiles"></p>
      
    <ons-progress-bar></ons-progress-bar>
    
    
  </div>
    
  <form interactive>
  
    <ons-list>
      
      
      <ons-list-item new>
        <div class="left">
          <ons-icon fixed-width class="list-item__icon" icon="fa-calendar-alt"></ons-icon>
        </div>
        <div class="center">
          
          <label data-bind="lang.eventDate"></label>
          <ons-input name='date' type='date'></ons-input>
          
        </div>
        <div class='right'></div>
      </ons-list-item>
      
      
      <ons-list-item new>
        <div class="left">
          <ons-icon fixed-width class="list-item__icon" icon="fa-clock"></ons-icon>
        </div>
        <div class="center">
          
          <label data-bind="lang.eventTime"></label>
          <ons-input name='time' type='time'></ons-input>
          
        </div>
        <div class='right'></div>
      </ons-list-item>
      
      
      <ons-list-item style="padding-top: 20px;">
        <div class="left">
          <ons-icon fixed-width class="list-item__icon" icon="fa-user"></ons-icon>
        </div>
        <div class="center">
          
          <label data-bind="lang.eventName"></label>
          
          <ons-input 
            required grows
            data-bind="day.name"
            name="name" 
            modifier="transparent"
            bind-placeholder="lang.eventNamePH">
          </ons-input>
        </div>
        <div class='right'></div>
      </ons-list-item>


      <ons-list-item>
        <div class="left">
          <ons-icon fixed-width class="list-item__icon" icon="fa-file-image"></ons-icon>
        </div>
        <div class="center">
          
          <label data-bind="lang.eventBanner"></label>
          
          <p>
            
            <input 
              type='file'
              id="eventImageInput" 
              accept="image/*"
              modifier="underbar" />
            
          </p>
          
          <small data-bind="lang.max2MB"></small>
          
        </div>
        <div class='right'></div>
      </ons-list-item>



      <ons-list-item>
        <div class="left">
          <ons-icon fixed-width class="list-item__icon" icon="fa-file-video"></ons-icon>
        </div>
        <div class="center">
          
          <label data-bind="lang.eventVideo"></label>
          
          <p>
            <input 
              type='file'
              id="eventVideoInput" 
              accept="video/*"
              modifier="underbar" />
            
          </p>
          
          <small data-bind="lang.max10MB"></small>
          
        </div>
        <div class='right'></div>
      </ons-list-item>
      
      
      <ons-list-item>
        <div class="left">
          <ons-icon fixed-width class="list-item__icon" icon="fa-file-audio"></ons-icon>
        </div>
        <div class="center">
          
          <label data-bind="lang.eventAudio"></label>
          
          <p>
            <input 
              type='file'
              id="eventAudioInput" 
              accept="audio/*"
              modifier="underbar" />
            
          </p>
          
          <small data-bind="lang.max2MB"></small>
          
        </div>
        <div class='right'></div>
      </ons-list-item>
      
      
      <ons-list-item style="padding-top: 20px;">
        <div class="left">
          <ons-icon fixed-width class="list-item__icon" icon="fa-link"></ons-icon>
        </div>
        <div class="center">
          
          <label data-bind="lang.eventWebsite"></label>
          
          <ons-input 
            grows
            data-bind="day.website"
            name="website" 
            modifier="transparent"
            bind-placeholder="lang.eventWebsitePH"
            >
          </ons-input>
        </div>
        <div class='right'></div>
      </ons-list-item>
      
      
      
      <ons-list-item style="padding-top: 20px;">
        <div class="left">
          <ons-icon fixed-width class="list-item__icon" icon="fa-ticket"></ons-icon>
        </div>
        <div class="center">
          
          <label data-bind="lang.eventTickets"></label>
          
          <ons-input 
            grows
            data-bind="day.tickets"
            name="tickets" 
            modifier="transparent"
            bind-placeholder="lang.eventTicketsPH">
          </ons-input>
        </div>
        
        <div class='right'></div>
        
      </ons-list-item>
      
      
      
      <ons-list-item>
        <div class="left">
          <ons-icon fixed-width class="list-item__icon" icon="fa-comment-alt"></ons-icon>
        </div>
        <div class="center">
          
          <label data-bind="lang.eventRelease"></label>
          <textarea name="release" rows="4" data-bind="day.release">           
          </textarea>
          
        </div>
        <div class='right'></div>
      </ons-list-item>
      
      
      
    </ons-list>
    
    <group row breathes>
      
      <button class='button' type="button" confirm="deleteDate">
        <ons-icon icon="fa-trash"></ons-icon>
        <span data-bind="lang.delete"></span>
      </button>
    
      <div grows></div>
    
      <button class='button' type="submit"  modifier="cta">
        <ons-icon icon="fa-cloud-upload"></ons-icon>
        <span data-bind="lang.save"></span>
      </button>
    
    </group>
    
  </form>
      
  </ons-page>
