  <ons-page id="filter.html">
    
    <ons-toolbar>
        
      <div class="right">
        <ons-toolbar-button emit="selectCollection">
          <ons-icon icon="md-arrow-back"></ons-icon>
        </ons-toolbar-button>
      </div>
      
      <div class="center">Filter</div>
      <div class="left">          
        <ons-toolbar-button emit="toggleMenu">
          <ons-icon icon="ion-navicon"></ons-icon>
        </ons-toolbar-button>
      </div>
      
    </ons-toolbar>
    
    <p breathes>
      Would like to refine your selection?
    </p>
    
    <div id="icons" emit="toggleFilterIcon" breathes grows scrolls></div>
    
    <ons-bottom-toolbar>
      <ons-button modifier="large--cta" onclick="emit('currentFilterChange')">
        Continue
        <ons-icon icon="md-arrow-forward"></ons-icon>
      </ons-button>
    </ons-bottom-toolbar>    
    
  </ons-page>
  
  

    


