  <ons-page  id="home.html">
    
    <ons-toolbar>
      
      <div class="left">
        <ons-toolbar-button emit="toggleMenu">
          <ons-icon icon="fa-bars"></ons-icon>
        </ons-toolbar-button>
      </div>
        
      <div class="center" data-bind="club.name">...</div>
      
      <div class="right">
        <group row emit="switchLang">
          <ons-icon icon="fa-language"></ons-icon>
          <span data-bind="currentLanguage"></span>
        </group>
      </div>
        
    </ons-toolbar>
      
    
      
    <div interactive>
      
      <div id="cakeday">
        <group row >
          <ons-icon icon="fa-birthday-cake"></ons-icon>
          <p>
            <span data-bind="lang.happyBirthday"></span>
            <span data-bind="club.cakeday"></span>
          </p>
        </group>
      </div>
      
      <div id="bannerWrapper">
        
        <img id="banner" responsive data-bind="day.posterURL"/>
        
        <button id="bannerVideoBtn" emit="watchVideo" hidden="hidden">
          <p>
            <ons-icon icon="fa-play-circle"></ons-icon>
            <span data-bind="lang.watchVideo"></span>
          </p>
        </button>
        
        
      </div>
      
      <div breathes>
        
        <ons-button 
          id="tickets"
          emit="buyTickets"
          modifier="large"
          data-bind="lang.tickets">
        </ons-button>
        
        <ons-button 
          emit="loadReservations"
          modifier="large"
          data-bind="lang.reservations">
        </ons-button>
        
        <ons-button 
          id="website"
          emit="visitWebsite"
          modifier="large"
          data-bind="lang.website">
        </ons-button>
        
        <pre data-bind="day.release"></pre>
                
        <audio
          data-bind="day.audioURL" 
          controls id="propaganda" 
          emit="playAudio">
        </audio>
        
      </div>
        
    
      <!-- TODO: essa lista deve ser tipo stories com uma musica de fundo -->
    
      <ons-list-title data-bind="lang.listNames"></ons-list-title>
      <ons-list class='list-profiles' id="clubList"></ons-list>
      
      
      
      <!-- TODO: aí no fim do stories convida o usuario a se adicionar -->
      
      <div breathes emit="toggleUserInList">
        
        <div id="emptyList">
        
          <span data-bind="lang.emptyList"></span>
          <p>
            <span data-bind="lang.clickButton"></span>
            <ons-icon icon="fa-hand-point-down"></ons-icon>
          </p>
          
        </div>
        
        <ons-button
          id="toggleUserInList" 
          modifier="large"
        ></ons-button>
      </div>
      
    </div>
    
  </ons-page>
  
  

    
