
<ons-page id="profile-edit.html">
  
  <ons-toolbar>
    
    <div class="left">          
      <ons-toolbar-button emit="toggleMenu">
        <ons-icon icon="fa-bars"></ons-icon>
      </ons-toolbar-button>
    </div>
        
    <div class="center" data-bind="lang.profileNetwork"></div>
    
    <div class="right"><ons-back-button></ons-back-button></div>
    
    
  </ons-toolbar>
    
  <div spinnar breathes grows>
    
    <ons-progress-circular indeterminate></ons-progress-circular>
    
    <p data-bind="lang.uploadingFiles"></p>
      
    <ons-progress-bar></ons-progress-bar>
    
    
  </div>
    
  <form interactive>
  
    <ons-list-header data-bind="lang.publicInfo"></ons-list-header>
    <ons-list>
      
      <ons-list-item modifier="nodivider" style="padding-top: 20px;">
        <div class="left">
          <ons-icon fixed-width class="list-item__icon" icon="fa-user"></ons-icon>
        </div>
        <div class="center">
          
          <label data-bind="lang.displayName"></label>
          
          <ons-input 
            required grows
            data-bind="profiles[UID].displayName" 
            name="displayName"
            modifier="transparent"
            bind-placeholder="lang.displayNamePH">
          </ons-input>
        </div>
      </ons-list-item>
      
      <ons-list-item>
        <div class="left">
          <ons-icon fixed-width class="list-item__icon" icon="fa-comment-alt"></ons-icon>
        </div>
        <div class="center">
          
          <label data-bind="lang.bio"></label>
          <textarea 
            name="bio" rows="4" 
            bind-placeholder="lang.bioPH"
            data-bind="profiles[UID].bio"
          ></textarea>
          
        </div>
      </ons-list-item>
      
      <ons-list-item>
        <div class="left">
          <ons-icon fixed-width class="list-item__icon" icon="fa-file-image"></ons-icon>
        </div>
        <div class="center">
          
          <label data-bind="lang.updatePhotoURL"></label>
          
          <p>
            <input 
              type='file'
              id="profileImageInput" 
              accept="image/*"
              modifier="underbar" />
            
          </p>
          
          <small data-bind="lang.max3MB"></small>
          
        </div>
      </ons-list-item>
      
      <ons-list-item>
        <div class="left">
          <ons-icon fixed-width class="list-item__icon" icon="fa-file-video"></ons-icon>
        </div>
        <div class="center">
          
          <label data-bind="lang.updateVideoURL"></label>
          
          <p>
            <input 
              type='file'
              id="profileVideoInput" 
              accept="video/*"
              modifier="underbar" />
            
          </p>
          
          <small data-bind="lang.max10MB"></small>
          
        </div>
      </ons-list-item>
      
    </ons-list>
    
    
    
    
    <ons-list-header data-bind="lang.privateInfo"></ons-list-header>
  
    <ons-list>
      
      <ons-list-item modifier="nodivider">
        <div class="left">
          <ons-icon fixed-width class="list-item__icon" icon="fa-user"></ons-icon>
        </div>
        <div class="center">
          
          <label data-bind="lang.realName"></label>
          
          <ons-input 
            required grows
            name="realName"
            data-bind="personal[UID].realName"
            modifier="transparent"
            bind-placeholder="lang.realNamePH">
          </ons-input>
          
        </div>
      </ons-list-item>
      
      <ons-list-item modifier="nodivider">
        <div class="left">
          <ons-icon fixed-width class="list-item__icon" icon="fa-user"></ons-icon>
        </div>
        <div class="center">
          
          <label data-bind="lang.doc"></label>
          
          <ons-input 
            required grows
            name="doc"
            data-bind="personal[UID].doc"
            modifier="transparent"
            bind-placeholder="lang.docPH">
          </ons-input>
        </div>
      </ons-list-item>
      
      
      <ons-list-item modifier="nodivider">
        <div class="left">
          <ons-icon fixed-width class="list-item__icon" icon="fa-user"></ons-icon>
        </div>
        <div class="center">
          
          <label data-bind="lang.birthDate"></label>
          
          <ons-input 
            required grows
            type="date"
            name="birthday"
            data-bind="personal[UID].birthday"
            modifier="transparent">
          </ons-input>
        </div>
      </ons-list-item>
    
      <ons-list-item modifier="nodivider">
        <div class="left">
          <ons-icon fixed-width class="list-item__icon" icon="fa-user"></ons-icon>
        </div>
        <div class="center">
          
          <label data-bind="lang.phone"></label>
          
          <ons-input 
            required grows
            name="phone"
            data-bind="personal[UID].phone"
            modifier="transparent"
            bind-placeholder="lang.phonePH">
          </ons-input>
        </div>
      </ons-list-item>
      
      <ons-list-item modifier="nodivider">
        <div class="left">
          <ons-icon fixed-width class="list-item__icon" icon="fa-user"></ons-icon>
        </div>
        <div class="center">
          
          <label data-bind='lang.address'></label>
          
          <ons-input 
            required grows
            name="address"
            data-bind="personal[UID].address"
            modifier="transparent"
            bind-placeholder="lang.addressPH">
          </ons-input>
        </div>
      </ons-list-item>
    
    </ons-list>
    
    
    <div breathes>
      
      <small>
        <strong data-bind="lang.publicInfo"></strong>:
        <span data-bind="lang.publicInfoDisclaimer"></span>
      </small>
    
      <small>
        <strong data-bind="lang.privateInfo"></strong>:
        <span data-bind="lang.privateInfoDisclaimer"></span>
      </small>
      
      <button style="display: block; margin-left: auto"  class='button' type="submit"  modifier="cta">
        <span data-bind="lang.saveProfile"></span>&nbsp;
        <ons-icon icon="md-arrow-forward"></ons-icon>
      </button>
    
    </div>
    
  </form>
  
</ons-page>

    

