<ons-page id="reservations.html">
  
  <ons-toolbar>
    
    <div class="left">          
      <ons-toolbar-button emit="toggleMenu">
        <ons-icon icon="fa-bars"></ons-icon>
      </ons-toolbar-button>
    </div>
    
    <div class="center" data-bind="lang.reservations"></div>
        
    <div class="right"><ons-back-button></ons-back-button></div>    
    
  </ons-toolbar>
  
  <div breathes>
    <h1 data-bind="day.name"></h1>
    <p data-bind="day.fulldate"></p>
  </div>
  
  <ons-list class='list-profiles'></ons-list>
  
  <ons-list-title>VIP MAP</ons-list-title>
  <img responsive data-bind="club.vipMapURL" />
  
</ons-page>


    
