  <ons-page id="support.html" class='support'>
    
    <ons-toolbar>
      
      <div class="left">
        <ons-toolbar-button emit="toggleMenu">
          <ons-icon icon="fa-bars"></ons-icon>
        </ons-toolbar-button>
      </div>
      
      <div class="right"><ons-back-button></ons-back-button></div>
      
      
      
      <div class="center" data-bind="lang.techSupport"></div>
        
    </ons-toolbar>
     
    <div breathes>
      
      <h1 data-bind="lang.needHelp"></h1>
    
      
    
      <p data-bind="lang.support"></p>
      
      
      
      <p>
        <ons-icon icon="fa-smile"></ons-icon>
        <strong>Rodrigo Nishino</strong>
      </p>
      
      <p>
        <ons-icon icon="fa-phone"></ons-icon>
        Phone: +55 67 3233-7966
      </p>
      
      <p>
        <ons-icon icon="fa-envelope"></ons-icon>
        rodrigo.nsh@gmail.com
      </p>
      
      
      
    </div>
    
    <div id='about-festaria'>
        <p><small data-bind="lang.poweredBy"></small></p>
        <a href="https://festaria.firebaseapp.com">
          <img src="logo.png" class='app-logo' />
        </a>
      </div>
    
  </ons-page>
  
  

    
