<ons-page id="tables-admin.html">
  
  <ons-toolbar>
    
    <div class="left">          
      <ons-toolbar-button emit="toggleMenu">
        <ons-icon icon="fa-bars"></ons-icon>
      </ons-toolbar-button>
    </div>
    
    <div class="center" data-bind="lang.tablesEdit"></div>
        
    <div class="right"><ons-back-button></ons-back-button></div>    
    
  </ons-toolbar>
  
  <div breathes>
    <ons-button modifier="large" emit="tableAdd">
      <span data-bind="lang.tableAdd"></span>
    </ons-button>
  </div>
  
  <ons-list></ons-list>
  
  
  
</ons-page>


    
