<ons-page id="table-detail.html">
  
  <ons-toolbar>
    
    <div class="left">
      <ons-toolbar-button emit="toggleMenu">
        <ons-icon icon="fa-bars"></ons-icon>
      </ons-toolbar-button>
    </div>
    
    <div class="center" data-bind="lang.table"></div>
        
    <div class="right"><ons-back-button></ons-back-button></div>    
    
  </ons-toolbar>
  
  
  <ons-list-title data-bind="lang.name"></ons-list-title>
  <ons-list-item>
    <div class="center" data-bind="personal[day.detail].realName"></div>
  </ons-list-item>    
  
  <ons-list-title data-bind="lang.doc"></ons-list-title>
  <ons-list-item>
    <div class="center" data-bind="personal[day.detail].doc"></div>
  </ons-list-item>
  
  <ons-list-title data-bind="lang.birthDate"></ons-list-title>
  <ons-list-item>
    <div class="center" data-bind="personal[day.detail].birthday"></div>
  </ons-list-item>
  
  <ons-list-title data-bind="lang.phone"></ons-list-title>
  <ons-list-item>
    <div class="center" data-bind="personal[day.detail].phone"></div>
  </ons-list-item>
  
  <ons-list-title data-bind="lang.address"></ons-list-title>
  <ons-list-item>
    <div class="center" data-bind="personal[day.detail].address"></div>
  </ons-list-item>

  <ons-list-item>
  <div class='center' row>
    
    <ons-button confirm="removeTableReservation" grows>
      <ons-icon icon="fa-phone-slash"></ons-icon>
    </ons-button>
    
    <ons-button emit="confirmTable" grows>
      <ons-icon icon="fa-check"></ons-icon>
    </ons-button>
    
  </div>
  </ons-list-item>
  
</ons-page>


    
