  <ons-page  id="video.html">
    
    <ons-toolbar>
      
      <div class="left">
        <ons-toolbar-button emit="toggleMenu">
          <ons-icon icon="fa-bars"></ons-icon>
        </ons-toolbar-button>
      </div>
        
      <div class="center">Player</div>
      
      <div class="right">
        <ons-back-button></ons-back-button>
      </div>
        
    </ons-toolbar>
      
    <video autoplay controls loop data-bind="videoURL"></video>
    
  </ons-page>
  
  

    
