
<ons-page id="about.html">
  
  <ons-toolbar>
    
    <div class="left">          
      <ons-toolbar-button emit="toggleMenu">
        <ons-icon icon="fa-bars"></ons-icon>
      </ons-toolbar-button>
    </div>
    
    <div class="center" data-bind="lang.moreInfo"></div>
        
    <div class="right"><ons-back-button></ons-back-button></div>
    
  </ons-toolbar>
    
  
    
  <img src="logo-vendor.png" class='vendor-logo' />
  
  <address>
    <h2 data-bind="club.address"></h2>
    <p data-bind="club.telefone"></p>
  </address>
  
  <div id="map"></div>
  
   
  
  
</ons-page>

    
