  <ons-page  id="dates-list.html">
    
    <ons-toolbar>
      
      <div class="left">          
        <ons-toolbar-button emit="toggleMenu">
          <ons-icon icon="fa-bars"></ons-icon>
        </ons-toolbar-button>
      </div>
        
      <div class="center" data-bind="lang.datesAdmin"></div>
      
      <div class="right">
        <ons-back-button></ons-back-button>
      </div>
        
    </ons-toolbar>
      
    
      
    <div breathes emit="newDate">
      <ons-button modifier="large" data-bind="lang.datesNew"></ons-button>
    </div>
        
    <ons-list-title data-bind="lang.datesList"></ons-list-title>
    <ons-list id="datesList"></ons-list>
      
  </ons-page>
