<ons-page id="reservations-admin.html">
  
  <ons-toolbar>
    
    <div class="left">          
      <ons-toolbar-button emit="toggleMenu">
        <ons-icon icon="fa-bars"></ons-icon>
      </ons-toolbar-button>
    </div>
    
    <div class="center" data-bind="lang.reservations"></div>
        
    <div class="right"><ons-back-button></ons-back-button></div>    
    
  </ons-toolbar>
  
  <ons-list-title data-bind="day.fulldate"></ons-list-title>
    
  <ons-list class='list-profiles'></ons-list>
  
</ons-page>


    
