  <ons-page  id="table-edit.html">
    
    <ons-toolbar>
      
      <div class="left">          
        <ons-toolbar-button emit="toggleMenu">
          <ons-icon icon="fa-bars"></ons-icon>
        </ons-toolbar-button>
      </div>
        
      <div class="center" data-bind="lang.tableEdit"></div>
      
      <div class="right">
        <ons-back-button></ons-back-button>
      </div>
        
    </ons-toolbar>
      
    
      
   <div spinnar breathes grows>
    
    <ons-progress-circular indeterminate></ons-progress-circular>
        
  </div>
    
  <form interactive>
  
    <ons-list>
      
      <ons-list-item modifier="nodivider">
        
        <div class="left">
          <ons-icon
            fixed-width
            class="list-item__icon"
            icon="fa-font"
          ></ons-icon>
        </div>
        
        <div class="center">
          
          <label data-bind="lang.name"></label>
          
          <ons-input 
            required grows
            data-bind="table.name"
            name="name" 
            modifier="transparent"
          >
          </ons-input>
        </div>
        
        <div class='right'></div>
        
      </ons-list-item>
      
      <ons-list-item modifier="nodivider">
        
        <div class="left">
          <ons-icon
            fixed-width
            class="list-item__icon"
            icon="fa-money-bill-wave"
          ></ons-icon>
        </div>
        
        <div class="center">
          
          <label data-bind="lang.price"></label>
          
          <ons-input 
            required grows
            data-bind="table.price"
            name="price" 
            modifier="transparent"
          >
          </ons-input>
        </div>
        
        <div class='right'></div>
        
      </ons-list-item>
    
      
    </ons-list>
    
    <group row breathes>
      
      <button class='button' type="button" confirm="tableDelete">
        <ons-icon icon="fa-trash"></ons-icon>&nbsp;
        <span data-bind="lang.delete"></span>
      </button>
    
      <div grows></div>
    
      <button class='button' type="submit"  modifier="cta">
        <ons-icon icon="fa-cloud-upload"></ons-icon>&nbsp;
        <span data-bind="lang.save"></span>
      </button>
    
    </group>
    
  </form>
      
  </ons-page>
