<ons-page id="user-new.html" class="user-auth">
  
   <ons-toolbar>
        
    <div class="center" data-bind="lang.exclusiveAccess"></div>
        
  </ons-toolbar>
  
  
   
  <form breathes>
    
    <group row class="head">
      <img src="logo.png" />
      <span data-bind="lang.newUserNetwork"></span>
    </group>
    
    <div spinnar breathes grows>
      <ons-progress-circular indeterminate></ons-progress-circular>
    </div>
    
    <div interactive>
    
      <p>
        <ons-input bind-placeholder="lang.email"></ons-input>
      </p>
      
      <p>
        <ons-input 
          bind-placeholder="lang.password" 
          name="password"
          type="password"></ons-input>
      </p>
      
      <p>
        <ons-input 
          bind-placeholder="lang.passwordConfirmation" 
          name="confirmation" 
          type="password"></ons-input>
      </p>
      
      <group row>
        
        <button
          class='button' 
          type="button" 
          emit="userAuth"
          data-bind="lang.cancel"
        ></button>
        
        <button
          class='button'
          type="submit"
          data-bind="lang.register"
        ></button>
        
      </group>
      
    </div>
    
  </form>
  
  <div breathes>
    
    <small>
      <span data-bind="lang.disclaimer"></span>
      <a href="tos.html" data-bind="lang.tos"></a> & 
      <a href="privacy.html" data-bind="lang.pp"></a>
    </small>
    
    <ons-button modifier="large" emit="support">
      <ons-icon icon="fa-question-circle"></ons-icon>
      <span data-bind="lang.needHelp"></span>
    </ons-button>
    
  </div>
  
</ons-page>

    
