  <ons-page  id="wip.html">
    
    <ons-toolbar>
      
      <div class="left">          
        <ons-toolbar-button emit="toggleMenu">
          <ons-icon icon="fa-bars"></ons-icon>
        </ons-toolbar-button>
      </div>
        
      <div class="center">Versão Demonstração</div>
      
      <div class="right"><ons-back-button></ons-back-button></div>
        
    </ons-toolbar>
      
    <div breathes certer>
      
      <img src="logo.png" class="app-logo" />
            
      <h1>Versão apenas para demonstração</h1>
    
      <p>
        Esta funcionalidade ainda está em desenvolvimento
      </p>
      
      <a class="button" href="https://festaria.firebaseapp.com">
        Site Oficial Festaria
      </a>
      
    </div>
    
  </ons-page>
  
  

    
